# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.history
/build/
ios/build/

# Files and directories created by IDE
.vscode
.idea
cognito-dart.code-workspace

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# Ignore private tests
test/_*_test.dart
example/test

# Ignore coverage results
coverage/

# Ignore OS logs/store
.DS_Store
